@model DocumentManagement.ModelViews.HR.UserModelView
@Html.HiddenFor(a => a.EncryptedId)
@{
    ViewData["Title"] = "User Details";
    Layout = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/profile.min.css" rel="stylesheet" />
<link href="~/css/kendoGrid.min.css" rel="stylesheet" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-list-ul"></i>
            <a onclick="onAjaxLoad('HR', '/HR/Index' )">HR</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a onclick="onAjaxLoad('User Details', '/HR/UserDetails?q=@Model.EncryptedId' )">User Details</a>
        </li>
    </ul>
</div>
<div class="portal-content min-h-1">
    <div class="col-md-4">
        <div class="card">
            <div class="m-b-20">
                <div class="contact-grid">
                    <div class="profile-header">
                        <div class="div-edit-btn">
                            @if (ViewBag.IsEdit == true)
                            {
                                <span class="btn" id="btnEditName" data-toggle="tooltip" title="Edit name"><i class="fa fa-pencil"></i></span>
                            }
                        </div>
                        <div class="user-name">
                            <span>@Model.Name</span>
                        </div>
                        <div>
                            @Model.Username
                        </div>
                    </div>
                    <div class="div-pic-edit-btn">
                        @if (ViewBag.IsEdit == true)
                        {
                            <input type="file" id="userImage" name="userImage" style="display:none"/>
                            <label for="userImage" class="btn" data-toggle="tooltip" title="Edit image"><i class="fa fa-pencil"></i></label>
                        }
                    </div>
                    @if (Model.Image == null)
                     {
                        <img src="~/images/blankImage.png" width="100" height="100" class="user-img" alt="No Image">
                     }
                    else
                    {
                        <img src="~/images/User/Original/@Model.Image" width="100" height="100" class="user-img" alt="No Image">
                    }
                    <p>
                        <span class="status-label status-green shadow-style">@Model.Status</span><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card m-b-20">
            <div class="header">
                <h3>
                    <strong>About</strong>
                    @if (ViewBag.IsEdit == true)
                    {
                        <span class="btn btnPro pull-right" id="btnEditInfo" data-toggle="tooltip" title="Edit Info"><i class="fa fa-pencil"></i></span>
                    }
                </h3>
            </div>
            <div class="body m-b-20">
                <div class="row">
                    <div class="col-md-3">
                        <strong>Mobile Number</strong>
                        <br />
                        <p class="text-muted">@Model.MobileNumber</p>
                    </div>
                    <div class="col-md-3">
                        <strong>Date of Birth</strong>
                        <br />
                        @if (Model.DOB != null)
                        {
                            <p class="text-muted">@Convert.ToDateTime(Model.DOB).ToString("MMM dd,yyyy")</p>
                        }
                        else
                        {
                            <p class="text-muted">Null</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <strong>Role</strong>
                        <br />
                        <p class="text-muted">@Model.Role</p>
                    </div>
                    <div class="col-md-3">
                        <strong>Created Date</strong>
                        <br />
                        <p class="text-muted">@Convert.ToDateTime(Model.CreatedDate).ToString("MMM dd,yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.IsEdit == true)
        {
            <div class="card m-b-20">
                <div class="header">
                    <h3><strong>Security</strong> Settings</h3>
                </div>
                <div class="body m-b-20">
                    <button class="btn btn-info waves-effect" id="btnChangePassword">Change Password</button>
                </div>
            </div>
        }
        <div class="card m-b-20">
            <div class="header">
                <h3><strong>Log</strong> Info</h3>
            </div>
            <div class="body m-b-20">
                <div id="divUserLog" class="h-400"></div>
            </div>
        </div>
    </div>
</div>
<div id="divEditNameWin"></div>
<div id="divEditInfoWin"></div>
<div id="divEditPasswordWin"></div>
<script src="~/js/HR/hrDetails.min.js"></script>